.App {
	min-height: 100vh;
	text-align: center;
	background-color: dimgray;
}

.layout {
	display: flex;
	justify-content: center;
}

.content {
	min-height: 100%;
	width: 600px;

	margin: 10px;
	background-color: gray;

	border-radius: 6px;
}